<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Data Encryption</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="algorithms.component.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <h2>Child</h2>
        <p><b>Original Message From Parent: {{ originalMessageFromParent }}</b></p>
        <p><b>Selected Algorithm From Parent: {{ selectedAlgorithmFromParent }}</b></p>
        <p><b>Original Message From Service: {{ message }}</b></p>
        <p><b>Original Message From Observable: {{ messageObservable }}</b></p>
        <!--<button (click)="fromChild()">Button</button>-->
    </div>
</body>
</html>